[submodule "Pandora API/HKX2-Enhanced-Library"]
	path = Pandora API/HKX2-Enhanced-Library
	url = https://github.com/Monitor221hz/HKX2-Enhanced-Library
[submodule "Pandora API/XML.Cake.NET"]
	path = Pandora API/XML.Cake.NET
	url = https://github.com/Monitor221hz/XML.Cake.NET
