[submodule "third_party/HKX2-Library"]
path = third_party/HKX2-Library
url = https://github.com/Monitor144hz/HKX2-Library.git
[submodule "third_party/XML-Cake"]
path = third_party/XML-Cake
url = https://github.com/Monitor144hz/XML-Cake.git
