[submodule "third_party/XML-Cake"]
path = third_party/XML-Cake
url = https://github.com/Monitor144hz/XML-Cake.git
[submodule "third_party/HKX2-Enhanced-Library"]
	path = third_party/HKX2-Enhanced-Library
	url = https://github.com/Monitor221hz/HKX2-Enhanced-Library
	branch = wpf
