<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target
      xsi:type="File"
      name="Engine Log"
      layout="${level:uppercase=true} : ${message}"
	  fileName="Engine.log"
	  deleteOldFileOnStartup="true"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Engine Log" />
  </rules>
</nlog>