<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pandora.Properties.GUISettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Pandora.Properties.gui" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Pandora.Properties.GUISettings>
            <setting name="PatchBoxNameColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchBoxAuthorColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchBoxVersionColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchBoxPriorityColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchBoxCodeColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchBoxNameColumnVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatchBoxAuthorColumnVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatchBoxVersionColumnVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatchBoxPriorityColumnVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PatchBoxCodeColumnVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCompactRowHeight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppTheme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GridLinesVisibility" serializeAs="String">
                <value>0</value>
            </setting>
        </Pandora.Properties.GUISettings>
        <Pandora.Properties.gui>
            <setting name="PatchBoxNameColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchBoxAuthorColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PatchBoxVersionColumnWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>0</value>
            </setting>
        </Pandora.Properties.gui>
    </userSettings>
</configuration>